@font-face {
  font-family: "Encode Sans Expanded";
  src: url("EncodeFont.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body .clockbox {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.wish {
  color: white;
  position: absolute;
  top: 4%;
  left: 2.5%;
  font-size: 25px;
  cursor: default;
}

.time {
  font-size: 125px;
  letter-spacing: 3px;
  font-weight: bold;
}

.date {
  font-size: 21.5px;
  letter-spacing: 2.5px;
}

.quotes {
  flex-direction: column;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 4%;
  cursor: default;
  z-index: 2;
}

.mainquote {
  margin-bottom: 8px;
  font-size: 18px;
}

.mainauthor {
  font-size: 16px;
}

.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: absolute;
  top: 4%;
  right: 2.5%;
  font-size: 25px;
  z-index: 2;
}

.city {
  font-size: 25px;
  cursor: pointer;
}

.cityblock,
.tempblock {
  font-size: 25px;
  padding: 0 5px;
  cursor: default;
  z-index: -1;
}

.description {
  text-transform: capitalize;
  font-size: 25px;
  cursor: default;
}

.weather .temp {
  font-size: 25px;
  cursor: pointer;
}

.searchbox {
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  height: 40px;
  width: 320px;
  border: 0;
  font-size: 17px;
  padding-left: 15px;
  background-color: black;
  border-radius: 5px;
  opacity: 65%;
  transition: top 0.5s ease;
  color: white;
}

.searchbox:focus {
  outline: none;
}

.wish,
.weather {
  position: absolute;
  top: 4%;
}

.wish {
  left: 2.5%;
  z-index: 2;
}

.weather {
  right: 2.5%;
}

.selectcity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.askname {
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  height: 40px;
  width: 320px;
  border: 0;
  font-size: 17px;
  padding-left: 15px;
  background-color: black;
  border-radius: 5px;
  opacity: 65%;
  transition: top 0.5s ease;
  color: white;
}

.askname:focus {
  outline: none;
}

.units {
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  height: 40px;
  width: 215px;
  border: 0;
  font-size: 17px;
  background-color: black;
  border-radius: 5px;
  opacity: 65%;
  transition: top 0.5s ease;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.celcius {
  font-size: 16px;
  background: transparent;
  color: white;
  border: 0;
  font-weight: bolder;
  cursor: pointer;
}

.fahrenhiet {
  font-size: 16px;
  background: transparent;
  color: white;
  border: 0;
  font-weight: bolder;
  cursor: pointer;
}

.menubtn {
  position: absolute;
  bottom: 3.85%;
  left: 2.5%;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3.5;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3.5;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3.5;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3.5;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3.5;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3.5;
}

.chooselocal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.white-folder {
  filter: brightness(0) invert(1);
  width: 22px;
}

.reloadicon {
  filter: brightness(0) invert(1);
  transition: transform 1s;
  width: 22px;
}

.rotated {
  animation: rotate 1s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.selectormenu {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: -20%;
  bottom: 12%;
  height: 40px;
  width: 220px;
  border: 0;
  font-size: 17px;
  background-color: black;
  border-radius: 5px;
  opacity: 65%;
  transition: left 0.5s ease, opacity 0.5s ease;
  color: white;
}

.blurbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: -20%;
  bottom: 24%;
  height: 40px;
  width: 220px;
  border: 0;
  font-size: 17px;
  background-color: black;
  border-radius: 5px;
  opacity: 65%;
  transition: left 0.7s ease, opacity 0.7s ease;
  color: white;
}

.tintbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: -20%;
  bottom: 30%;
  height: 40px;
  width: 220px;
  border: 0;
  font-size: 17px;
  background-color: black;
  border-radius: 5px;
  opacity: 65%;
  transition: left 0.8s ease, opacity 0.8s ease;
  color: white;
}

.imagebox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: -20%;
  bottom: 18%;
  height: 40px;
  width: 220px;
  border: 0;
  font-size: 17px;
  background-color: black;
  border-radius: 5px;
  opacity: 65%;
  transition: left 0.6s ease, opacity 0.6s ease;
  color: white;
}

.chooseUnsplash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
